@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: #ffffff;
    opacity: 0.5;
}

::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #ff000079;
}